 <div flex="100">
    <mat-card>
    <mat-card-title>Stacked Horizontal Bars</mat-card-title>
    <mat-divider></mat-divider>
        <div style="height:450px;">
          <ngx-charts-bar-horizontal-stacked
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [xAxisTickFormatting]="axisDigits">
          </ngx-charts-bar-horizontal-stacked>
        </div>
    </mat-card>
</div>

<div flex="100">
  <mat-card>
    <mat-card-title>Vertical Grouped Bars</mat-card-title>
    <mat-divider></mat-divider>
    <div style="height:450px;">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [barPadding]="2"
        [groupPadding]="8">
      </ngx-charts-bar-vertical-2d>
    </div>
  </mat-card>
</div>
<div flex="100">
  <mat-card>
    <mat-card-title>Lines</mat-card-title>
    <mat-divider></mat-divider>
    <div style="height:450px;">
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [yAxisTickFormatting]="axisDigits">
      </ngx-charts-line-chart>
    </div>
  </mat-card>
</div>
 