.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-card {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.story-title {
    font-size: 20px;
}