
.toolbar-button {
    flex: 1 1 auto;
    display: inline;
    height: 60px;
    font-size: .8em;
}

.toolbar-row {
    height: auto;
}

.align-right {
    float: right;
    line-height: 1.2em;
    text-align: right;
}

.align-left {
    float: left;
    line-height: 1.2em;
    text-align: left;
}

.sub-text {
    display: block;
}