<article>
    <mat-toolbar color="basic">
    <span>Top Twenty Crypto Currencies</span>
        <mat-toolbar-row layout="row" class="toolbar-row" *ngFor="let coin of coins">
        <button mat-button class="toolbar-button">
            <span class="align-left">{{ coin.name }}
                <small class="sub-text">({{ coin.symbol }})</small>
            </span>
            <span class="align-right">{{ coin.percent_change_1h | number}}%
                <small class="sub-text">{{ coin.market_cap_usd | currency:'USD':true:'2.2-4' }}</small>
            </span>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
</article>

