
<article class="market-container">
    <section class="market-list">
        <mat-toolbar color="basic">
        <span>Coin Market List</span>
            <mat-toolbar-row class="toolbar-row" *ngFor="let coin of coins" (click)="select(coin)">
            <button mat-button class="toolbar-button">
                {{ coin.name }}
                <span class="coin-spacer"></span>
                {{ coin.percent_change_1h | number}}%
            </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>

     <section class="market-detail">
         <app-market-detail *ngIf="selectedCoin" [coin]="selectedCoin"></app-market-detail>
     </section>
</article>
