<mat-toolbar color="primary">
  <mat-toolbar-row *ngFor="let coin of coins" (click)="select(coin)">
    <span>{{ coin.name }}</span>
    <span class="fill-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

<ul class="messages">
  <li *ngFor="let msg of messages">{{msg}}</li>
</ul>

<ul>
  <li >
    
    {{ coin.symbol }}
    {{ coin.price_usd | currency:'USD':false}}
    {{ coin.market_cap_usd | currency:'USD':false }}
    {{ coin.market_cap_usd | currency:'USD':false }}
    {{ coin.percent_change_1h | percent}}
  </li>
</ul>

<app-market-detail *ngIf="selectedCoin" [coin]="selectedCoin"></app-market-detail>

