
<mat-toolbar class="mat-elevation-z4" role="header" color="primary">
    <button mat-button (click)="go('/')"><h1>Market App</h1></button>
    <button mat-button (click)="go('/markets')">Markets</button>
    <button mat-button (click)="go('/news')">Stories</button>
    <span class="menu-spacer"></span>
    <div class="menu-tools">
        <mat-toolbar-row class="mat-toolbar-row">
            <button mat-icon-button>
                <mat-icon>help</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar-row>
    </div>
</mat-toolbar>

