<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="games" routerLinkActive="active">Games</a>
            <a class="nav-item nav-link" routerLink="champions" routerLinkActive="active">Champions</a>
        </div>
    </div>
    <div class="menu-tools">
        <button><i class="fas fa-refresh"></i></button>
        <button><i class="fas fa-question"></i></button>
        <button><i class="fas fa-user"></i></button>
    </div>
</nav>

